* {
    box-sizing: border-box;
}



.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-9, .col-12 {
  float: left;
  padding-left: .9%;
  padding-right: .9%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-9, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
	width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
	width: 50%;
  }
  
  .col-9 {
	width: 75%;
  }

  /* 12 columns */
  .col-12 {
	width: 100%;
  }
}

@media screen and (max-width: 1029px) {
    div.container,
	div.jumbotron {
		width: 100%;
    }
	
	div.jumbotron h2 {
		font-size: .9em;
	}
	
	div.jumbotron {
		padding: 2em;
	}
	
	nav,
	div.sign,
	form  {
		display: none;
	}
	
	div.toggle {
		visibility: visible;
	}
}

@media screen and (max-width: 600px) {
	div.jumbotron {
		padding: 1.5em;
	}
	
	div.jumbotron h2 {
		font-size: .75em;
	}
	
	
}